* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
main.board {
  a {
    text-decoration: none;
  }
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 2.5rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

section.glass {
  height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;

  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    .links {
      transition: 2s;
      .link {
        margin: 1rem;
        h2 {
          width: 40%;
          padding: 0rem 2rem;
          transition: 0.2s;
          &:hover {
            color: #0969f0;
            font-weight: bolder;
          }
        }
      }
    }
    .pro {
      cursor: pointer;
      background: linear-gradient(to right top, #65dfc9, #6cdbeb);
      border-radius: 1.5rem;
      color: white;
      padding: 1rem 0.5rem 1rem 0.5rem;
      transform: translate(0%, -20%);
      h2 {
        font-weight: 600;
        color: white;
      }
    }
  }

  .board {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    .board-title {
      // position: relative;
      margin: 2rem 0rem 0rem 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      input {
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        border: none;
        width: 150%;
        padding: 0.5rem;
        border-radius: 2rem;
      }
      button {
        cursor: pointer;
        margin-right: 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        outline: none;
        min-height: 50px;
        min-width: 100px;
        border-radius: 0.5rem;
        transition: 0.5s;
        background: #426696;
        color: white;
        &:hover {
          box-shadow: 0px 0px 20px rgba(66, 102, 150, 0.8);
          background: white;
          color: #426696;
        }
      }
    }

    .cards {
      margin: 1.5rem 0rem 0rem 0rem;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 96%;
      .card {
        display: flex;
        background: linear-gradient(
          to left top,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.8)
        );
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 0.8rem;
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 195, 255, 0.5);
        transition: 0.2s;
        &:hover {
          box-shadow: 0px 0px 10px rgba(0, 195, 255, 1);
          h2 {
            transition: 0.2s;
            color: #0969f0;
            font-weight: bolder;
          }
          p {
            transition: 0.2s;
            color: #0969f0;
          }
        }
        .card-info {
          pointer-events: none;
        }
      }
    }
    .pagenation {
      display: flex;
      align-content: center;
      justify-content: center;
      button {
        cursor: pointer;
        margin: 1.5rem 0.5rem 0rem 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        outline: none;
        min-height: 40px;
        min-width: 40px;
        border-radius: 0.5rem;
        transition: 0.5s;
        background: #426696;
        color: white;
        &:hover {
          box-shadow: 0px 0px 20px rgba(66, 102, 150, 0.8);
          background: white;
          color: #426696;
        }
      }
    }
  }
}

.circle1,
.circle2 {
  z-index: 1;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

@media screen and (max-width: 1480px) {
  html {
    font-size: 90%;
  }
  section.glass {
    width: 70%;
    .board {
      flex: 3;
    }
  }
}
@media screen and (max-width: 1068px) {
  section.glass {
    width: 80%;
    .board {
      flex: 3;
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
  main.board {
    height: 100%;
  }
  section.glass {
    width: 100%;
    flex-direction: column;
  }
  .dashboard {
    .user {
      margin-bottom: 1.5rem;
      .hamburger {
        position: absolute;
        left: 5%;
        pointer-events: auto;
        cursor: pointer;

        div {
          width: 30px;
          height: 3px;
          background: #426696;
          margin: 5px;
          border-radius: 5px;
          transition: all 0.3s ease;
        }
      }
      .toggle {
        .line1 {
          transform: rotate(45deg) translate(5px, 6px);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
    .show {
      display: none;
    }
  }
}

@media screen and (max-height: 750px) {
  section.glass {
    height: 90%;
  }
}
@media screen and (max-height: 650px) {
  section.glass {
    height: 95%;
  }
}
@media screen and (max-height: 580px) {
  section.glass {
    height: 100%;
  }
}
