.join-board {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  .head {
    margin-top: 1rem;
  }
  form {
    width: 70%;
  }
  .form {
    margin-top: 1rem;
    position: relative;
    height: 50px;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .form input {
    width: 100%;
    height: 100%;
    /* color: aqua; */
    padding-top: 20px;
    padding-left: 5px;
    border: none;
    outline: none;
    background-color: #65dfc9;
    color: #178dee;
    font-size: 1.5rem;
  }

  .form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #076e47;
  }

  .form label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    border-bottom: 5px solid #0bffa1;
    transform: translateX(-100%);
    transition: transform 1s ease;
  }

  .content-name {
    margin-left: 5px;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translate(0%, -100%);
    font-size: 1rem;
    color: #0b75ff;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }
  button {
    cursor: pointer;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
    transition: 0.5s;
    background: #65dfc9;
    color: white;
    &:hover {
      background: white;
      color: #65dfc9;
    }
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 110%;
  }
  .join-board {
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .join-board {
    width: 100vw;
  }
}
