.login-board {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 60vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  form {
    margin: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .btn-box {
      transform: translateY(100%);
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      button {
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        min-height: 50px;
        min-width: 100px;
        border-radius: 0.5rem;
        outline: none;
        transition: 0.5s;
        background: #65dfc9;
        color: white;
        &:hover {
          background: white;
          color: #65dfc9;
        }
      }
      button.link {
        background: #426696;
        color: white;
        &:hover {
          background: white;
          color: #426696;
        }
      }
    }
  }
  .form {
    margin-top: 1rem;
    position: relative;
    height: 50px;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .form input {
    width: 100%;
    height: 100%;
    /* color: aqua; */
    padding-top: 20px;
    padding-left: 5px;
    border: none;
    outline: none;
    background: #65dfc9;
    color: #178dee;
    font-size: 1.5rem;
    opacity: 0.7;
  }

  .form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #076e47;
  }

  .form label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    border-bottom: 5px solid #0bffa1;
    transform: translateX(-100%);
    transition: transform 1s ease;
  }

  .content-name {
    margin-left: 5px;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
  }

  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translate(0%, -100%);
    font-size: 14px;
    color: #0b75ff;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 1024px) {
  .login-board {
    width: 60vw;
  }
}
@media screen and (max-width: 768px) {
  .login-board {
    height: 100vh;
    width: 100vw;
  }
}
