.board {
  .board-title {
    .head_box {
      margin-bottom: 1rem;
      display: flex;
      align-content: center;
      justify-content: space-between;
      p {
        transform: translate(-20%, 50%);
      }
    }
    .write_box {
      width: 90%;
      input.title {
        width: 100%;
        outline: none;
        font-size: 1.5rem;
      }
      textarea {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        height: 40vh;
        margin-top: 1rem;
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        border: none;
        width: 100%;
        padding: 0.5rem;
        border-bottom-right-radius: 1rem;
        outline: none;
      }
    }
  }
}
.write_btn_box {
  display: flex;
  justify-content: left;
  .write_btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .board {
    .board-title {
      .write_box {
        width: 100%;
      }
    }
  }
  .write_btn_box {
    justify-content: center;
  }

  //setting
  .board {
    .board-title {
      .Setting_box {
        text-align: center;
        justify-content: center;
        width: 100%;
        .Setting_title {
          width: 80%;
          h1 {
            width: 40%;
          }
          .delete_box {
            button.delete {
              min-width: 10vw;
              min-height: 8vh;
            }
          }
        }
        .box {
          width: 80%;
          input.setting {
            width: 50%;
          }

          button.setting_btn {
            min-width: 10vw;
            min-height: 8vh;
          }
        }
      }
    }
  }
}

// detail(상세보기)
.write_box {
  .detail_btn_box {
    display: flex;
    justify-content: flex-end;
    .write_btn {
      margin: 0rem;
      margin-top: 1rem;
    }
    .write_btn.warn {
      background-color: tomato;
      &:hover {
        color: tomato;
        background-color: white;
        box-shadow: 0px 0px 20px tomato;
      }
    }

    &.id_check {
      display: none;
    }
  }
}

// setting
.board-title {
  .Setting_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    .box {
      position: relative;
      width: 100%;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      input.setting {
        // position: absolute;
        outline: none;
        height: 8vh;
        width: 80%;
        font-size: 1.5rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
        padding-left: 1rem;
        &::placeholder {
          color: tomato;
          font-size: 1rem;
          font-weight: bold;
        }
      }
      p {
        width: 40%;
        font-size: 1.8rem;
        transform: translate(20%, -10%);
      }

      button.setting_btn {
        border-radius: 1rem;
        font-size: 1rem;
        min-width: 5vw;
        min-height: 8vh;
      }
      .update {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        &:hover {
          background: linear-gradient(to right top, #65dfc9, #6cdbeb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .update.clicked {
        background: linear-gradient(#00ff62, #13a7eb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &::after {
          content: "중";
        }
      }
    }
    .Setting_title {
      display: flex;
      width: 40vw;
      justify-content: space-between;
      h1 {
        transform: translate(20%, -10%);
      }
      .delete_box {
        button.delete {
          background: tomato;
          border-radius: 1rem;
          font-size: 1.2rem;
          min-width: 8vw;
          min-height: 8vh;
          &:hover {
            color: tomato;
            background: whitesmoke;
            box-shadow: 0px 0px 20px tomato;
          }
        }
      }
    }
  }
}
