@charset "UTF-8";
.board .board-title .head_box {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board .board-title .head_box p {
  -webkit-transform: translate(-20%, 50%);
          transform: translate(-20%, 50%);
}

.board .board-title .write_box {
  width: 90%;
}

.board .board-title .write_box input.title {
  width: 100%;
  outline: none;
  font-size: 1.5rem;
}

.board .board-title .write_box textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  height: 40vh;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-bottom-right-radius: 1rem;
  outline: none;
}

.write_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.write_btn_box .write_btn {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .board .board-title .write_box {
    width: 100%;
  }
  .write_btn_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .board .board-title .Setting_box {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .board .board-title .Setting_box .Setting_title {
    width: 80%;
  }
  .board .board-title .Setting_box .Setting_title h1 {
    width: 40%;
  }
  .board .board-title .Setting_box .Setting_title .delete_box button.delete {
    min-width: 10vw;
    min-height: 8vh;
  }
  .board .board-title .Setting_box .box {
    width: 80%;
  }
  .board .board-title .Setting_box .box input.setting {
    width: 50%;
  }
  .board .board-title .Setting_box .box button.setting_btn {
    min-width: 10vw;
    min-height: 8vh;
  }
}

.write_box .detail_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.write_box .detail_btn_box .write_btn {
  margin: 0rem;
  margin-top: 1rem;
}

.write_box .detail_btn_box .write_btn.warn {
  background-color: tomato;
}

.write_box .detail_btn_box .write_btn.warn:hover {
  color: tomato;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px tomato;
          box-shadow: 0px 0px 20px tomato;
}

.write_box .detail_btn_box.id_check {
  display: none;
}

.board-title .Setting_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
}

.board-title .Setting_box .box {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-title .Setting_box .box input.setting {
  outline: none;
  height: 8vh;
  width: 80%;
  font-size: 1.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  padding-left: 1rem;
}

.board-title .Setting_box .box input.setting::-webkit-input-placeholder {
  color: tomato;
  font-size: 1rem;
  font-weight: bold;
}

.board-title .Setting_box .box input.setting:-ms-input-placeholder {
  color: tomato;
  font-size: 1rem;
  font-weight: bold;
}

.board-title .Setting_box .box input.setting::-ms-input-placeholder {
  color: tomato;
  font-size: 1rem;
  font-weight: bold;
}

.board-title .Setting_box .box input.setting::placeholder {
  color: tomato;
  font-size: 1rem;
  font-weight: bold;
}

.board-title .Setting_box .box p {
  width: 40%;
  font-size: 1.8rem;
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
}

.board-title .Setting_box .box button.setting_btn {
  border-radius: 1rem;
  font-size: 1rem;
  min-width: 5vw;
  min-height: 8vh;
}

.board-title .Setting_box .box .update {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.board-title .Setting_box .box .update:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#65dfc9), to(#6cdbeb));
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board-title .Setting_box .box .update.clicked {
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff62), to(#13a7eb));
  background: linear-gradient(#00ff62, #13a7eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board-title .Setting_box .box .update.clicked::after {
  content: "중";
}

.board-title .Setting_box .Setting_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board-title .Setting_box .Setting_title h1 {
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
}

.board-title .Setting_box .Setting_title .delete_box button.delete {
  background: tomato;
  border-radius: 1rem;
  font-size: 1.2rem;
  min-width: 8vw;
  min-height: 8vh;
}

.board-title .Setting_box .Setting_title .delete_box button.delete:hover {
  color: tomato;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 20px tomato;
          box-shadow: 0px 0px 20px tomato;
}
/*# sourceMappingURL=Write.css.map */