* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}

.wrapper-parallax {
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
}

header {
  width: 100%;
  height: 100vh;
  background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg) no-repeat 50% 50%;
  top: 0;
  z-index: -1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .svg_container {
  -webkit-transform: translate(2%, 0%);
          transform: translate(2%, 0%);
}

header #introduce {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  color: white;
  -webkit-animation: fill 0.5s ease forwards 4.5s;
          animation: fill 0.5s ease forwards 4.5s;
}

header #introduce path:nth-child(1) {
  stroke-dasharray: 450px;
  stroke-dashoffset: 450px;
  -webkit-animation: line-ani 2s ease forwards 0.5s;
          animation: line-ani 2s ease forwards 0.5s;
}

header #introduce path:nth-child(2) {
  stroke-dasharray: 360px;
  stroke-dashoffset: 360px;
  -webkit-animation: line-ani 2s ease forwards 0.8s;
          animation: line-ani 2s ease forwards 0.8s;
}

header #introduce path:nth-child(3) {
  stroke-dasharray: 180px;
  stroke-dashoffset: 180px;
  -webkit-animation: line-ani 2s ease forwards 1.1s;
          animation: line-ani 2s ease forwards 1.1s;
}

header #introduce path:nth-child(4) {
  stroke-dasharray: 180px;
  stroke-dashoffset: 180px;
  -webkit-animation: line-ani 2s ease forwards 1.1s;
          animation: line-ani 2s ease forwards 1.1s;
}

header #introduce path:nth-child(5) {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  -webkit-animation: line-ani 2s ease forwards 1.1s;
          animation: line-ani 2s ease forwards 1.1s;
}

header #introduce path:nth-child(6) {
  stroke-dasharray: 120px;
  stroke-dashoffset: 120px;
  -webkit-animation: line-ani 2s ease forwards 1.4s;
          animation: line-ani 2s ease forwards 1.4s;
}

header #introduce path:nth-child(7) {
  stroke-dasharray: 32px;
  stroke-dashoffset: 32px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(8) {
  stroke-dasharray: 160px;
  stroke-dashoffset: 160px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(9) {
  stroke-dasharray: 130px;
  stroke-dashoffset: 130px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(10) {
  stroke-dasharray: 190px;
  stroke-dashoffset: 190px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(11) {
  stroke-dasharray: 155px;
  stroke-dashoffset: 155px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(12) {
  stroke-dasharray: 210px;
  stroke-dashoffset: 210px;
  -webkit-animation: line-ani 2s ease forwards 1.7s;
          animation: line-ani 2s ease forwards 1.7s;
}

header #introduce path:nth-child(13) {
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  -webkit-animation: line-ani 2s ease forwards 2s;
          animation: line-ani 2s ease forwards 2s;
}

header #introduce path:nth-child(14) {
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  -webkit-animation: line-ani 2s ease forwards 2.2s;
          animation: line-ani 2s ease forwards 2.2s;
}

header #introduce path:nth-child(15) {
  stroke-dasharray: 340px;
  stroke-dashoffset: 340px;
  -webkit-animation: line-ani 2s ease forwards 2.4s;
          animation: line-ani 2s ease forwards 2.4s;
}

header #introduce path:nth-child(16) {
  stroke-dasharray: 370px;
  stroke-dashoffset: 370px;
  -webkit-animation: line-ani 2s ease forwards 2.6s;
          animation: line-ani 2s ease forwards 2.6s;
}

header #introduce path:nth-child(17) {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  -webkit-animation: line-ani 2s ease forwards 2.8s;
          animation: line-ani 2s ease forwards 2.8s;
}

header #introduce path:nth-child(18) {
  stroke-dasharray: 415px;
  stroke-dashoffset: 415px;
  -webkit-animation: line-ani 2s ease forwards 3s;
          animation: line-ani 2s ease forwards 3s;
}

header #introduce path:nth-child(19) {
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  -webkit-animation: line-ani 2s ease forwards 3.2s;
          animation: line-ani 2s ease forwards 3.2s;
}

header #introduce path:nth-child(20) {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
  -webkit-animation: line-ani 2s ease forwards 3.4s;
          animation: line-ani 2s ease forwards 3.4s;
}

header #introduce path:nth-child(21) {
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
  -webkit-animation: line-ani 2s ease forwards 3.6s;
          animation: line-ani 2s ease forwards 3.6s;
}

footer {
  height: 100vh;
  bottom: -100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  position: fixed;
  z-index: -1;
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
          transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.content {
  height: 200vh;
  z-index: 1;
  position: relative;
  background: beige;
}

.content .skill {
  height: 50%;
}

.content .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  height: 50%;
}

.App {
  text-align: center;
}

.App .App-header {
  min-height: 100vh;
  background-color: #282c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  background-color: red;
}

.skill {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.skill .icons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill .icons_container .icon_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px;
}

.skill .icons_container .icon_container .icon {
  border-radius: 2rem;
  height: 150px;
  width: 150px;
  display: inline-block;
  background-repeat: no-repeat;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  -webkit-box-shadow: 0px 0px 20px #273379;
          box-shadow: 0px 0px 20px #273379;
}

.skill .icons_container .icon_container .html {
  background-size: 140px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg);
}

.skill .icons_container .icon_container .html:hover {
  -webkit-animation: App-logo-spin 1s linear;
          animation: App-logo-spin 1s linear;
}

.skill .icons_container .icon_container .css {
  background-size: 100px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg);
}

.skill .icons_container .icon_container .css:hover {
  -webkit-animation: App-logo-spin 10s linear;
          animation: App-logo-spin 10s linear;
}

.skill .icons_container .icon_container .js {
  background-size: 155px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg);
}

.skill .icons_container .icon_container .js:hover {
  -webkit-animation: App-logo-spin 10s linear;
          animation: App-logo-spin 10s linear;
}

.skill .icons_container .icon_container .react {
  background-size: 240px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg);
}

.skill .icons_container .icon_container .react:hover {
  -webkit-animation: App-logo-spin 10s linear;
          animation: App-logo-spin 10s linear;
}

.skill .icons_container .icon_container .nodejs {
  background-size: 130px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg);
}

.skill .icons_container .icon_container .nodejs:hover {
  -webkit-animation: App-logo-spin 10s linear;
          animation: App-logo-spin 10s linear;
}

.skill .icons_container .icon_container .python {
  background-size: 130px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg);
}

.skill .icons_container .icon_container .python:hover {
  -webkit-animation: App-logo-spin 10s linear;
          animation: App-logo-spin 10s linear;
}

@media screen and (max-height: 720px) {
  header {
    height: 720px;
  }
  .content {
    height: 1440px;
  }
  footer {
    height: 720px;
    bottom: -720px;
  }
}

@media screen and (max-width: 1280px) {
  .skill .icons_container {
    width: 80vw;
  }
}

@-webkit-keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */