// 전체 설정
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#scroll-animate {
  overflow: hidden;
}

#scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
}
.wrapper-parallax {
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

// header
@import "./style/Header.scss";

// footer
@import "./style/Footer.scss";

header,
footer,
#scroll-animate-main {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.content {
  height: 200vh;
  z-index: 5;
  position: relative;

  .skill {
    height: 50%;
  }
  .project {
    height: 50%;
  }
}

// content_skill
.skill {
  background: rgba(245, 244, 240, 1);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    h1 {
      font-size: 4rem;
    }
  }

  .icons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    // flex-wrap: wrap;
    .icon_container {
      display: flex;
      flex-direction: column;
      margin: 40px;
      .icon {
        cursor: pointer;
        border-radius: 2rem;
        height: 150px;
        width: 150px;
        display: inline-block;
        background-repeat: no-repeat;
        background-color: white;
        background-position-x: 50%;
        background-position-y: 50%;
        box-shadow: 0px 0px 20px rgb(229, 219, 175);
      }

      .html {
        background-size: 140px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg);
        &:hover {
          box-shadow: 0px 0px 10px tomato;
        }
      }

      .css {
        background-size: 100px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg);
        &:hover {
          box-shadow: 0px 0px 10px #2965f1;
        }
      }

      .js {
        background-size: 155px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg);
        &:hover {
          box-shadow: 0px 0px 10px yellow;
        }
      }

      .react {
        background-color: black;
        background-size: 240px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg);
        &:hover {
          box-shadow: 0px 0px 10px #61dafb;
        }
      }

      .nodejs {
        background-size: 130px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg);
        &:hover {
          box-shadow: 0px 0px 10px #73ab63;
        }
      }

      .python {
        background-size: 130px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg);
        &:hover {
          box-shadow: 0px 0px 10px #376e9c;
        }
      }

      .etc {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          box-shadow: 0px 0px 10px gray;
        }
        .circle {
          pointer-events: none;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: black;
          margin: 5px;
        }
      }
    }
  }
}

.pop_detail {
  cursor: pointer;
  overflow: hidden;
  width: 55vw;
  height: 60vh;
  background: rgba(245, 244, 240, 1);
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(40%, 200%);
  opacity: 0;
  z-index: -1;
  box-shadow: 5px 5px 20px gray;

  .detail_head {
    pointer-events: none;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background: gray;
    h3 {
      font-size: 3rem;
    }
  }
  .html {
    background: tomato;
  }
  .css {
    background: #2965f1;
  }
  .js {
    background: yellow;
  }
  .react {
    background: black;
    color: #61dafb;
  }
  .nodejs {
    background: #73ab63;
  }
  .python {
    background: linear-gradient(to right, #376e9c, #ffce3d);
  }
  .detail_body {
    pointer-events: none;
    padding: 3rem;
    ul {
      list-style: none;
    }
    li {
      font-size: 1.5rem;
    }
  }
}

// content_project
.project {
  color: rgba(255, 255, 255, 0.801);
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  hr {
    background: rgba(255, 255, 255, 0.801);
  }
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .project_title {
    h1 {
      font-size: 3rem;
    }
    margin-bottom: 5rem;
  }

  .project_container {
    height: 50vh;
    width: 80vw;
    table {
      box-shadow: 0px 0px 5px rgba(0, 195, 255, 1);
      border-collapse: collapse;
      thead {
        background: rgb(0, 245, 184);
        border: 5px solid rgb(0, 245, 184);
        th {
          height: 10vh;
          width: 20vw;
          font-size: 2rem;
        }
      }
      tbody {
        border: 5px solid rgba(162, 248, 227, 0.5);
        background: rgba(162, 248, 227, 0.5);
        color: #16bdffe7;
        font-weight: bold;
        tr {
          &:hover {
            cursor: pointer;
            background: whitesmoke;
          }
          td {
            font-size: 1.5rem;
            height: 20vh;
            div {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  // project_detail
  .detail {
    opacity: 0.5;
    z-index: -1;
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
    transform: scale(0.2);
    position: absolute;
    height: 90vh;
    width: 90vw;
    transition: all 1s linear;
    border-radius: 2rem;
    overflow: hidden;

    .btnbox {
      z-index: 3;
      position: absolute;
      .up {
        cursor: pointer;
        position: absolute;
        transform: rotate(180deg) scale(0.2);
        opacity: 0.7;
        left: -5vw;
        top: 25vh;
        &:hover {
          opacity: 1;
        }
      }
      .down {
        cursor: pointer;
        position: fixed;
        opacity: 0.7;
        right: -5vw;
        top: 25vh;
        transform: rotate(0deg) scale(0.2);
        &:hover {
          opacity: 1;
        }
      }
    }
    .card_slider {
      transition: all 1s ease;
      .card {
        // height: 100%;
        // width: 100%;
        p.intro {
          height: 90vh;
          background: rgba(255, 239, 218, 0.959);
          padding-top: 20vh;
          color: black;
          display: flex;
          flex-direction: column;
          b {
            font-size: 2.5rem;
          }
          font-size: 1.8rem;
        }

        .card_img {
          height: 70vh;
          background: black;
          // background: url(https://raw.githubusercontent.com/hudsonmarinho/header-and-footer-parallax-effect/master/assets/images/bg-header.jpg)
          // no-repeat 50% 50%;
          border-bottom: 5px solid black;
          img {
            height: 100%;
            width: 50%;
            position: relative;
          }
          img.one {
            height: 100%;
            width: 100%;
            position: relative;
          }
        }

        .card_text {
          color: black;
          font-size: 1.5rem;
          height: 20vh;
          background: white;
        }
      }
    }
  }
}

// media

@media screen and (max-height: 720px) {
  header {
    height: 720px;
  }
  .content {
    height: 1440px;
  }
  footer {
    height: 720px;
    bottom: -720px;
  }
}

@media screen and (max-width: 1280px) {
  .skill {
    .icons_container {
      width: 80vw;
    }
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }
}
// ani - skill

@keyframes pop_up {
  from {
    transform: translate(40%, 200%);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: translate(40%, 40%);
    opacity: 1;
    z-index: 2;
  }
}

@keyframes pop_down {
  from {
    transform: translate(40%, 40%);
    opacity: 1;
    z-index: 2;
  }
  to {
    transform: translate(40%, 200%);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes blurOn {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(5px);
  }
}

@keyframes blurOff {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

// ani - project
@keyframes scaleUp {
  from {
    opacity: 0.5;
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.2);
  }
}
